---
title: Search GitHub
---

<div>
  <div class="w3-container w3-theme w3-card-2">
    <h1>Search GitHub Repositories</h1>
  </div>

  <div class="w3-row-padding w3-margin">
    <div class="w3-third">
      <div class="w3-container w3-card-2 w3-white">
        <h2>Search for:</h2>
        <input type="text" name="searchTerms" id="searchTerms" class="w3-input">
        <button class="w3-button w3-section w3-theme w3-ripple" onclick="searchRepositories()">Search</button></p>
      </div>
    </div>
    <div class="w3-twothird">
      <div class="w3-container w3-card-2 w3-white">
        <h2>Repositories</h2>
        <div id="results"></div>
      </div>
    </div>
  </div>

</div>
